<style>
	.ls-app-wraps{
		display:flex;
	}
	.ls-app-wraps h4{
		margin-left:10px; margin-top:10px;
	}
	.ls-app-wraps img{
		height:37px;
	}
	.ls-app-descs{
		margin-left:5px;
	}
	.ls-app-button{
		text-align:left; width:100%;
	}
	.ls-app-button span{
		font-weight:bold; color:#5E94B6;
	} 
	.ls-hide-button{
		display:none;
	}
</style>

<h2>Mississippi</h2>
<div>
    Freshwater Network.org is a decision support tool that incorporates the best available science and local data to enable communities and conservation practitioners to identify nature-based solutions for enhancing resilience and reducing risk where possible. For additional project information, visit the <a href="http://freshwaternetwork.org/" target="_blank">Freshwater Network home page</a>.
</div>

<h3>Get Started</h3>

<div class="button ls-app-button">	
	<div class="ls-app-wraps">
		<img src="img/regional-planning.png">
		<h4 class="color-primary">Map Layers</h4>
	</div>
	<div class="ls-app-descs">
		View and interact with freshwater data layers including: dams, rivers, USGS and NOAA stream gages, watersheds, wetlands, groundwater aquifers, water wells, political boundaries, managed areas and land cover.
	</div>
</div>	
<button class="button launch-plugin ls-hide-button" data-plugin-name="regional-planning"></button>

<div class="button ls-app-button">	
	<div class="ls-app-wraps">
		<img src="img/hydroFlow.png">
		<h4 class="color-primary">Hydro Flows</h4>
	</div>
	<div class="ls-app-descs">
		A statewide hydrologic model for Louisiana’s watersheds. View and interact with modeled hydrologic flow data for all Louisiana catchments excluding the coastal zone. Over 40 years of flow metrics, including 1, 3, 7, 30 and 90 day minimum and maximum flows, zero flow days and more. View time series data including future climate change and projected water use..
	</div>
</div>	
<button class="button launch-plugin ls-hide-button" data-plugin-name="HydroFlow"></button>

<div class="button ls-app-button">	
	<div class="ls-app-wraps">
		<img src="img/feature-compare.png">
		<h4 class="color-primary">Feature Compare</h4>
	</div>
	<div class="ls-app-descs">
		Description of the Feature Compare app.
	</div>
</div>	
<button class="button launch-plugin ls-hide-button" data-plugin-name="feature_compare"></button>

<div class="button ls-app-button">	
	<div class="ls-app-wraps">
		<img src="img/hydrologic-alterations.png">
		<h4 class="color-primary">Hydrologic Alterations</h4>
	</div>
	<div class="ls-app-descs">
		Visualize alterations to hydrologic networks such as dams, reservoirs, canals and channelized rivers. We have also conducted alteration assessments for metrics such as dams/mi2, dam storage, channelization and canal intensity for HUC 8 and HUC 12 watersheds, LDEQ subsegments, Parishes and Congressional Districts.
	</div>
</div>	
<button class="button launch-plugin ls-hide-button" data-plugin-name="hydrologic-alterations"></button>

<script>
	$(".ls-app-button").click(function(c){
		$(c.currentTarget).next().trigger("click")
	})
</script>
